@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    color: white;
}
    #div2{
        display: flex;
    }
#priceDiv{
   background-color: hsl(179, 62%, 43%);
   color: white;
   width:50%; 
   text-align:start;
   
}
#aboutDiv{
         background-color: hsl(179, 86%, 41%);
        width:50%;
      border: solid 1px hsl(179, 62%, 43%);
       text-align:start;
    
}
#div1{
        background-color: white;
    margin-bottom: 0px;
    color:grey;
    margin-bottom: 0px;
      border: solid 1px white;

}
#div2{

    
    margin-bottom: 0px;
    border: solid 1px hsl(179, 62%, 43%);
    
}
#container{
    width: 80%;
    margin-left: 350px;
    margin-top:200px;
    width: 50%;
    box-shadow: 0px 0px 10px 0px;
    display: block;
    
    
}
#signUpBtn{
    background-color: hsl(71, 73%, 54%);
    color: white;
    width:85%;
    height: 30px;
    border: none;
    border-radius: 5px;
    Border: none;
}


h2{
    color:hsl(179, 62%, 43%);
}


h5{
    color: hsl(71, 73%, 54%);
}

@media (max-width: 600px) {
    #div2 {
     display: block;
     width: 100%;
    }

 #priceDiv, #aboutDiv {
            width: 100%;
            margin-top: 0 auto;
        }
   
    }
